div {
  display: flex;
  flex-direction: column;
  background-color: white;


}

button{

  align-self: flex-start;
  background-color: #0db646;
  color: white;
  border-radius: 15px;
  border: none;
}


.container{
background-color: blue;
border-radius: 15px;
color: black;

}

header{
color: yellow;
background-color: black;

}

input{
color: black;


}


section{

  width: auto;
}
